$top: 45%;
$left: 45%;

.spinner {
    position: fixed;
    height: 1em;
    width: 1em;
    z-index: 999;
    overflow: visible;
    top: $top;
    left: $left;
    bottom: 0;
    right: 0;

    img {
        animation: spinner 1.75s linear infinite;
    }
}

@keyframes spinner {
    0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

